<p id="notice"><%= notice %></p>

<article class="post">
  <div>
    <div class="absolute-bg" style="background-image: url('<%= @post.image(:large) %>')">
      <%= link_to "All Work", posts_path,  id: "clip__link" %>
    </div>
  </div>
  <div class="post__container">
    <div>
      <span class="post__category"><%= @post.category %></span>
      <div class="post__content">
        <header>
          <time class="post__time"><%= @post.created_at %></time>
          <h1 class="post__header"><%= @post.title %></h1>
        </header>
        <p class="post__text"><%= raw @post.body %></p>
      </div>
      <div class="post__link">
        <% if @post.next(@post) %>
          <%= link_to "Next Post", @post.next(@post) %>
        <% elsif @post.previous(@post) %>
          <%= link_to "First Post", @post.first(@previous) %>
        <% else %>
          <%= link_to "All Work", posts_path %>
        <% end %>
      </div>
    </div>
  </div>
</article>
