<p id="notice"><%= notice %></p>

<p>
  <strong> title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category %>
</p>

<div>
  <strong>Image:</strong>
  <%= image_tag @post.image %>
</div>

<div>
  <strong>Date:</strong>
  <%= @post.created_at %>
</div>

<div>
  <strong><%= @post.comments.count %></strong> Comments
  <%= render @post.comments %>
  <hr />
  <p>Add Comment</p>
  <%= render 'comments/form' %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
