<%# add navigation links to this file %>
<li><span><%= link_to 'About', page_path('about') %></span></li>
<li><span><%= link_to "Work", posts_path %></span></li>
<li><span><%= link_to "Freelance", page_path('freelance') %></span></li>
<li><span><%= link_to "Anchor", page_path('anchor') %></span></li>
<li><span><%= link_to "Resume", page_path('resume') %></span></li>
<li><span><%= link_to "Contact", page_path('contact') %></span></li>
